@charset "UTF-8";

body {
	background-color: #EFE3CA;
}

h1 {
	text-align: center;
	font-family: 'Coustard', serif;
	color: #DB9232;
	font-weight: 900;
	
}

h4 {
	color:#DB9232;
	font-family: 'Coustard', serif;
	font-weight: 400;
}

span{
	color: #5D2D03;	
}

.callout {
  padding: 20px;
  border: 1px solid #DB9232;
  border-left-width: 10px;
  border-radius: 10px;
  max-width: 250px;
}