@charset "UTF-8";

body {
	background-color: #EFE3CA;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}


h1 {
	text-align: center;
	font-family: 'Coustard', serif;
	color: #DB9232;
	font-weight: 900;
	
}

h4 {
	color:#DB9232;
	font-family: 'Coustard', serif;
	font-weight: 400;
}

h5 {
	color:#5D2D03;
	font-family: 'Coustard', serif;
	font-weight: 400;
}
span{
	color: #5D2D03;	
}

.callout {
  padding: 20px;
  border: 1px solid #DB9232;
  border-left-width: 10px;
  border-radius: 10px;
  max-width: 250px;
}

.location-row {
	border: 2px solid #DB9232;
	border-radius: 15px;
	padding: 15px;
	margin:25px 50px;
	flex-wrap: wrap;
}
.card {
	background-color:#EFE3CA;
	border-color:#DB9232;
	color:#5D2D03;
}

.card-body{
	text-align: center;
}

.btn {
	background-color:#5D2D03;
	border-color:#5D2D03;
	color:white;
}

.btn:hover {
	background-color:#DB9232;
	border-color:#DB9232;
	color:#5D2D03;
}

.anyClass{
	padding:15px;
	border-radius: 10px;
	background-color: #f7f3ea;
	height:150px;
	overflow-y: scroll;
}
.action {
	margin-bottom: 5px;
}
.activities-row {
	border: 2px solid #DB9232;
	border-radius: 10px;
	padding: 15px;
}